/* giving Everything a default stlye */
*{
    margin: 0;
    padding:0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    text-decoration: none;
}

/* defining reusable Values */
:root{
    --color: #317773
}

/* styling the header container */
.header{
    display: flex;
    color: #317773;
    background-color: #E2D1F9;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

/* Styling the Company name */
.name{
    font-size: 1.5em;
}

/* styling the logo container */
.logo-container{
    display: flex;
    align-items: center;
    flex: 1;


}

/* Styling the logo image */
.logo{
    width: 50px;
    height: 50px;
    border-radius:50% ;
}

.r-sec{
    /* background-color: aqua; */
    display: flex;
    flex: 0.5;
    min-width: 350px;
    min-height: 40px;
    /* padding: 10px; */
    justify-content: space-around;
}

/* Styling the menu section/ Right section */
.menu-section{
    display: none;
    justify-content: space-between;
    /* width: 20%; */
}

/* Styling the my account and cart button */
.menu-button, .my-account, .Cart-button{
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    color: #E2D1F9;
    overflow: hidden;
    padding:5px 15px;
    background: linear-gradient(to right, #5d9e9b, #317773);
}

.have ul{
    list-style-type: none;
}


/* styling how the offcanvas appear when the is on "on" class*/
.offcanvas-account.on,
.offcanvas-cart.on,
.offcanvas-Menu.on,
.dropdown-menu.on{
    transform: translateY(0);
}

/* creating an offcanvas  */
.offcanvas-account,
.offcanvas-Menu,
.dropdown-menu{
    position: fixed;
    background: #E2D1F9;
    width: 27%;
    bottom: 0;
    top: 0px;
    right: 0;
    border: 1px solid ;
    z-index: 1000;
    transform: translateX(100%);
    transition: all .4s ease;
    padding: 60px 15px;
}

.dropdown-menu{
    width: 100%;
}



/* close the offcanvas by clicking the close button */
.close-menu,
.close-btn,
.close-cart{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #E2D1F9;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #317773;
    border-radius: 50%;
    padding: 5px;
    transition: all .5s;
}

/* stle the close buttons when hovering */
.close-menu:hover,
.close-btn:hover,
.close-cart:hover{
    border: 2px solid #317773;
    background-color: #E2D1F9;
    color: #317773;
}

.welcome,
.have{
    margin-bottom: 30px;
}

/* styling the h3 on the offcanvas */
.welcome h2{
    color: #317773;
}

/* giving the paragraphs inside the ofcanvas a color */
.welcome p,
.have p
.benefits li{
    color:#757575;
}

/* giving the "I have an...." h4 a margin bottom */
.have h4{
    margin-bottom: 10px;
}

/* styling the button anchor tag */
.sign-up{
    margin-bottom: 25px;
}

/* styling the sign in button */
.sign-in{
    width: 99%;
    letter-spacing: 3px;
    height: 45px;
    background-color: #317773;
    border: solid 1px #317773;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    font-family: inherit;
    text-transform: uppercase;
    color: #E2D1F9;
    z-index: 1;
}

.sign-in::before, .sign-in::after{
    content: ''; 
    display: block;
    width: 55px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: #E2D1F9;
    transition: 1s ease;
 }

/* styling the button when hovering */
.sign-in:hover{
    color: #317773;
}

.sign-in::before{
    top: -1em;
    left: -1em;
}

.sign-in::after{
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.sign-in:hover::before, .sign-in:hover::after{
    height: 451px;
    width: 451px;
    opacity: 1;
}

.sec-divider{
    width: 100%;
    height: 1px;
    background-color: #757575;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* styling the benefits list */
.have ul li{
    color: #757575;
    margin-left: 18px;
    line-height: 25px;
    font-size: smaller;
}

.have p{
    color: #757575;
}

/* styling the sign in button */
.register{
    width: 99%;
    height: 45px;
    letter-spacing: 3px;
    /* making the button not to have a colour */
    background-color: transparent;
    border: solid 1px #317773;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.register::before, .register::after{
   content: ''; 
   display: block;
   width: 50px;
   height: 50px;
   transform: translate(-50%, -50%);
   position: absolute;
   border-radius: 50%;
   z-index: -1;
   background-color: var(--color);
   transition: 1s ease;
}

.register::before{
    top: -1em;
    left: -1em;
}

.register::after{
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.register:hover::before, .register:hover::after{
    height: 451px;
    width: 451px;
    opacity: 1;
}

.register:hover{
    color: #E2D1F9;
}


/* hiding the menu bare on full width */
.menu-button{
    display: none;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  /* background-color: #317773; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  text-align: center;
}

/* .menu-items li {
  margin-bottom: 10px;
} */

.menu-items li a {
  color: #317773;
  font-size: larger;
  font-weight: bold;
  padding: 5px;

}

.menu-items li{
    margin-bottom: 50px;
    padding: 15px 0;
}

.dropdown-menu {
    /* position: fixed;
    top: 100%;
    right: 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    transform: translateX(100%);
    transition: all .4s ease;
    padding: 20px 10.5px;
    z-index: 10000; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* line-height: ; */
    text-transform: uppercase;
  }

.menu-items li:hover {
    /* display: inline-block; */    width: 90%;
    background-color: #317773 ;
    border-radius: 10px;
    color: #E2D1F9;
    
}

/* Making the whish container a position relative */
.whish{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    color: #317773;
}

/* styling the wishlist button */
.whish-list{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px ;
    height: 35px;
    font-weight: 700;
    transition: 0.8s;
}

/* creating animation when hovering on the Whishlist */
.whish-list:hover{
    transform: translateY(-18px);
    opacity: 1;
    background-color: #317773;
    color: #E2D1F9;
}

/* changing the fon for the heart icon */
.whish-heart{
    font-size: 1.5em;
}

/* animating the woishlist text to appear when hovering */
.whishlist{
    position: absolute;
    top: 65%;
    opacity: 0;
    transition: 1s;
}

/* when hovering the wishlist */
.whish:hover .whishlist{
    opacity: 1;
}

.wishlist-content{
    background-color: #317773;
    color: #E2D1F9;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    height: 270px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    margin: auto;
}



.empty-cart-message{
    display: flex;
    flex-direction: column;
    height: 92%; 
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    color: #317773;
}

.empty-cart-text{
    font-size: 1.5rem;
    font-weight: 900;
}

.empty-cart-message,
 .cart-icons {
    font-size: 5rem;
    font-weight: 500;
    margin: 20px 0;
}


/* defining a min width for the cart button */
.Cart-button{
    min-width: 30px;
}

/* Preparing for animation on my account and cart button */
.my-account::before, .Cart-button::before{
    content: '';
    position: absolute;
    height: 50px;
    width: 10px;
    background-color: #f3f3f39f;
    box-shadow: 0 0 15px #fff;
    filter: blur(1px);
    opacity: 0.9;
    transition: 0.7s;
    transform: rotate(-20deg) translateX(-40px);
}

/* setting transition time on animating cart button */
.Cart-button::before{
    transition: 1.2s;
}


/* animating my account and cart button only on hovering */
.my-account:hover::before, .Cart-button:hover::before{
    transform: rotate(25deg) translate(130px);
}

/* creating a cart  */
.offcanvas-cart{
    position: fixed;
    background: #E2D1F9;
    width: 27%;
    min-width: 350px;
    border: 1px solid ;
    bottom: 0;
    top: 0px;
    right: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: all .5s ease;
    padding: 20px 10.5px;
}

/* styling the cart header */
.Cart-header{
    background-color: #317773;
    color: #E2D1F9;
    width: 100%;
    padding: 15px;
    margin: -19.5px -62px 10px -12px;
}

/* giving styles to the cart images */
.cart-img{
    width:70px;
    height: 70px;
    border-radius: 25px;
    object-fit: contain;
    padding: 10px;
}


.grid{
    display: flex;
    column-gap: 15px;
}

/* styling the box of the cart */
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap:1rem;
    margin-top: 1rem;
}

/* giving styles to the container that holds details */
.detail-box{
    display: grid;
    row-gap: 0.5rem;
}

/* styling the name of the product in the cart */
.cart-product-tittle{
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* styling the price text inside the cart  */
.cart-price{
    font-weight: 500;
}

/* making the cart content scrollable */
.cart-content{
    max-height: 490px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* stling the quantity input in the cart */
.cart-quantity{
    border: 2px solid #317773;
    outline-color: #E2D1F9;
    width: 3rem;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
}

/* giving styles to the delete product button */
.cart-remove-con{
    font-size: 16px;
    color: #E2D1F9;
    background-color: #317773;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all .5s;

}

/* giving styles to the delete product button when hovering */
.cart-remove-con:hover{
    color: #317773;
    background-color: #E2D1F9;
    border: 2px solid #317773;
}

/* styling the total container */
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 2px solid #317773;
    font-weight: 700;
    font-size: 1.2rem;
}

/* styling the text of the total amount in the cart */
.total-title{
    font-size: 1rem;
    font-weight: 600;
}

/* giving a space to the total price text */
.total-price{
    margin-left: 0.5rem;
}

.btn-buy-con{
    display: flex;
    margin-top: 25px;
    justify-content: space-around;
}

/*Styling the buy button  */
.btn-buy{
    letter-spacing: px;
    text-transform: uppercase;
    display:inline-block;
    text-align: center;
    font-weight: bold;
    border: 3px solid #317773;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16),
     0 3px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    padding: 12px 20px;
    color: #317773;
}

.btn-buy:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #317773;
    z-index: -1;
}

/* style for hovering the buy button */
.btn-buy:hover,
.btn-buy:focus{
    color: #E2D1F9;
}

.btn-buy:hover:before,
.btn-buy:focus::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

/* ***************************************************************************The following styles will be styles fot the nav bar****************************************************************************************************** */

/* GIVING THE NAVIGATION CONTAINER STYLES */
nav{
    background-color: #317773;
    padding: 10px 10px 10px 0;
    /* position: fixed; */
    left: 0;
    right: 0;
    top: 80px;
    z-index: 900;
    display: flex;
    justify-content: space-between;
}



.r-nav{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    flex: 0.6;
}

/* Separating the navigation links and removing the bullets */
.navigation{
    display: flex;
    padding: 10px 0;
    /* color: #E2D1F9; */
    justify-content: space-around;
    font-size: 0.9em;
    list-style-type: none;
    /* background-color: #757575; */
}


.illegal li {
  position: relative;
}

.my-dropdown-content li {
  display: block;
}

.my-dropdown:hover .my-dropdown-content {
  display: block;
}
 ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .illegal li {
    display: inline-block;
    position: relative;
  }
  
  .illegal li a {
    display: block;
  }

  
  .my-dropdown-content {
    display: none;
    position: absolute;
    background-color: #317773;
    color: #317773;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 32px;
    left: -100px;
    width: 380px;
    padding: 10px 18px;
    /* text-align: center; */
  }
  
  .my-dropdown-content li {
    display: block;
  }

  
/*  */
.nav-item{
    margin: 0 12px ;
}

.track-order{
    white-space: nowrap;
}

/* giving the all <a> on the nav section the same styles */
.nav-item a,
.track-order a{
    color: #E2D1F9;
    padding: 5px;
    text-decoration: none;
    font-weight: 700;
}

/* styling the navigation links hovering */
.navigation .nav-item a:hover,
.track-order a:hover{
    /* color: #00ffea; */
    background-color: #E2D1F9;
    padding: 7px ;
    border-radius: 10px;
    color: #317773;
}

/* The middle section/Search-bar container */
.searchbar-container{
    /* background-color: aqua; */
    display: flex;
    position: relative;
    padding: 5px;
    width: 50%;
    min-width: 250px;
}

/* Giving styles to the search-bar */
.search-bar{
    border: 2px solid #317773;
    border-radius: 25px;
    background-color: #E2D1F9;
    outline: none;
    padding: 10px 5px;
    width: 100%;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
}

/* giving the input new styles when clicked/typing */
.search-bar:focus {
        background-color: white;
        transform: scale(1.00);
        box-shadow: 13px 13px 100px #969696,
                   -13px -13px 100px #ffffff;
}

/* changing the search-bar paceholder color  and size*/
.search-bar::placeholder{
    color: #317773;
    font-weight: 500;
}

/* Styling and positioning the search icon */
.search{
    background-color: #317773;
    color: #E2D1F9;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 6px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-weight: 500;
}

/* giving th active link a different style */
.active a{
    background-color: #E2D1F9;
    padding: 7px ;
    border-radius: 12px;
    color: #317773;
}

/* styling the "track order container" */
.track-order{
    display: flex;
    margin-right: 30px;
    align-items: center;
    width: auto;
    color: #E2D1F9;
    font-size: 0.9em;
    cursor: pointer;
}

/*  */



.cart-img{
    width:70px;
    height: 70px;
    border-radius: 25px;
    object-fit: contain;
    padding: 10px;
}

.grid{
    display: flex;
    column-gap: 15px;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap:1rem;
    margin-top: 1rem;
}

.detail-box{
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-tittle{
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.cart-price{
    font-weight: 500;
}

.cart-quantity{
    border: 2px solid #317773;
    outline-color: #E2D1F9;
    width: 3rem;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
}

.cart-remove-con{
    font-size: 16px;
    color: #E2D1F9;
    background-color: #317773;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all .5s;

}

.cart-remove-con:hover{
    color: #317773;
    background-color: #E2D1F9;
    border: 2px solid #317773;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 2px solid #317773;
    font-weight: 700;
    font-size: 1.2rem;
}

.total-title{
    font-size: 1rem;
    font-weight: 600;
}

.total-price{
    margin-left: 0.5rem;
}


/* This is the slide show section styles */

/* styling the container that holds the slide shows */
.slideshow-sec{
    /* top: 0px; */
    position: relative;
    /* width: 95%; */
    /* background-color:aqua; */
    margin: 25px auto;
    /* height: 500px; */
    
}

/* styling all the images inside the slide show */
.slideshow-sec img{
    width: 100%;
    height: 450px;
}

/* Hide the image by default */
.slides{
    display: none;
}

/* The dot indicator */
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

/* fading animation */
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from {opacity: .4;}
    to {opacity: 1;}
}



.carousel-container {
    display: flex;
    overflow: hidden;
    width: 80%;
    margin: auto;
    position: relative;
    gap: 5%;
  }
  
  .carousel-slide {
   transition: transform 0.5s;
    overflow: hidden; /* Add this to hide overflow */
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Add this to maintain aspect ratio */
    border-radius: 50%;
  }
  
  .prev-button,
  .next-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev-button {
    left: 0;
  }
  
  .next-button {
    right: 0;
  }
  
  


.cellular{
    /* background-color: #317773; */
    /* color: #E2D1F9; */
    font-size: 2.5rem;
    padding: 0 1.5%;
}

.cellular-grid{
    display: grid;
    height: fit-content;
    margin-top: 35px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 20px;
    padding: auto;

}

.shop-item{
    border: 2px solid #317773 ;
    border-radius: 25px 25px 0 0;
    width: 80%;
    margin-left: 20px;
    display: grid;

}

.shop-item-tittle{
    font-weight: 700;
    margin-top: 0;
    font-size: 1.1rem;
}

.shop-item-price{
    font-size: 1.1rem;
}

.buttons-auto{
    display: flex;
    background-color: #317773;
    justify-content: center;

}

.shop-item-image{
    width: 100%;
    height: 250px;
    border-radius: 25px 25px 0 0;
    border-bottom: 2px solid #317773;
    margin-bottom: 0;
    padding: 0;
}

.shop-item-button{
    padding: 7px;
    border: 2px solid #E2D1F9;
    background-color: #317773;
    color: #E2D1F9;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
    margin: 10px auto;
}

.product-details{
    background-color: #E2D1F9;
    line-height: 2rem;
    margin-top: 0;
}

.product-container{
    display: flex;

}

.shop-item-button:hover{
    background-color: #E2D1F9;
    border: 2px solid #317773;
    color: #317773;
}

.slideshow {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    background-color: #f1f1f1; /* Slideshow background color */
  }
  
  .module {
    width: 100%;
    height: 100px; /* Adjust height as needed */
    background-color: #e0e0e0; /* Module background color */
  }
  

footer{
    background-color: #317773;
    height: 170px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-email{
    padding: 7px;
    width: 60%;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #E2D1F9;
    border: 2px solid #317773;
}

.subscribe-button{
    width: 30%;
    padding: 5px;
    background-color: #317773;
    border: 2px solid #E2D1F9;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: #E2D1F9;
    font-weight: 700;
}

.social{
    color: #E2D1F9;
    font-size: 35px;

}

.social-media{
    display: flex;
    justify-content: space-around;
}

.follow{
    margin-bottom: 10px;
}

.sec-one,
.sec-two,
.sec-three,
.sec-four{
    color: #E2D1F9;
}